body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #ff2600;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    transition: background 0.5s;
}

.hero {
    padding: 30px 20px;
}
/* Style untuk Navigasi */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #007BFF;
}

section {
    padding: 20px;
    margin: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s;
}

h2 {
    border-bottom: 2px solid #007BFF;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #01e1ff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
